<div class="row">
<div class="col-md-6">

<%= image_tag @product.image.url, class: "img-responsive" %>
</div>  
<div class="col-md-6">
<h4><%= @product.name %></h4> 
<p><strong>Brand / Designer: </strong></p>
<p><%= @product.brand %></p> 
<p><strong>Description:</strong></p>
<p><%= @product.description %></p>
</div>
</div>  



<p>
  <strong>Price: €</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @product.availability %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
